@font-face{
	font-family: cinzel;
	src: url('../font/Cinzel/Cinzel-Regular.ttf');
}
@font-face{
	font-family: "Josefin-Sans";
	src: url("../font/JosefinSans-VariableFont_wght.ttf");
}

html{
	scroll-behavior: smooth;
}
body{
	margin: 0px;
	font-family: Josefin-Sans;
	background-color: #8a4c00;
	font-size: 20px;
}

::-webkit-scrollbar { width: 12px; }	
::-webkit-scrollbar-track { background: rgba(255, 255, 0, .25); }
::-webkit-scrollbar-thumb { background: rgba(255, 255, 0, .62); }
::-webkit-scrollbar-thumb:hover { background: rgba(255, 255, 0, 1); }

.center{
	text-align: center;
	color: yellow;
}
#topicLast{
	color: yellow;
	padding: 20px 0px;
}
.topic{
	padding: 20px 0px;
	border-bottom: 3px solid yellow;
	color: yellow;
}
.subText{ margin-left: 5%; }

.ulStyleOff{
	list-style: none;
	padding: 0px;
}
.marginAuto{
	margin: auto;
}
a, a:visited{
	color: #8a4c00;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}

	#container{
		position: relative;
		top: 0px;
		margin: 0px 5%;
	}
		h1{
			font-size: 50px;
		}
		h2{
			font-size: 30px;
		}
		.alt{
			margin-top: 0px;
			padding: 30px 0px;
			opacity: 0.7;
			border-bottom: 1px solid yellow;
			font-size: 18px;
		}
		.images{
			width: calc(100% - 12px);
			border: 6px solid #783b00;
		}
		#info, #table, #imgUsed, #contact, #req{
			background-color: yellow;
			width: 280px;
			font-size: 20px;
			padding: 20px;
			color: #8a4c00;
			border-radius: 30px 0px;
			margin-top: 25px;
			margin-bottom: 50px;
		}
			.lineTable{
				padding: 2px;
				text-align: left;
			}
			.lineCenter{
				padding: 2px;
				text-align: center;
			}
		#msgCopy{
			visibility: hidden;
			position: absolute;
			padding: 5px 10px;
			background-color: #8a4c00;
			border-radius: 90px;
			border: 3px solid yellow;
			color: yellow;
		}
		#email:hover #msgCopy{
			visibility: visible;
		}
		#textEmail{
			position: absolute;
			top: -100px;
		}
		#fonts{
			width: 350px;
		}
	#buttonTop{
		position: fixed;
		height: 50px;
		bottom: 10px;
		right: 10px;
		cursor: pointer;
		background-color: #783b00;
		padding: 3px;
		border-radius: 90px 90px 10px 10px;
		border: 5px solid yellow;
	}
	#buttonTop:hover{
		height: 60px;
		bottom: 5px;
		right: 5px;
	}
		#imageTop{
			height: 50px;
		}
		#buttonTop:hover #imageTop{
			height: 60px;
		}